div{
    align-content: center;
    background-color: red;
    height: 400px;
    width: 380px;
    border-radius: 10px;
    position: relative;
    top: 150px;

}
h1{
    color: white;
}
button{
    background-color: white;
    height: 50px;
    width: 100px;
    color: red;
    position: relative;
    top: 30px;
}
button:hover{
    background-color: red;
    color: white;
}
